---
title: SciForAll
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title | escape }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{'/css/styles.css' | url}}">
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1133636066998493246/1216480135126188062/1-removebg-preview_1.png?ex=6612ff69&is=66008a69&hm=2137e76b9e7b53d40a74e83571e4b30eeb1aec34b80a40661453f0e543cdeda8&">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
    </style>
</head>
<body>
<nav class="navbar" id="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            <a href="{{'/' | url}}">Home</a>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#AboutUs">About Us</a>
            <a href="#JoinUs">Join Us</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            <a href="{{'/yourAccount/' | url }}">Join US</a>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#AboutYou">About You</a>
            <a href="#YourRole">Your Role</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            <a href="{{'/studyResources/' | url}}">Chapter Projects</a>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Chapter 1 Project</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">
            <a href="{{'/Article/' | url}}">Article</a>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#CHEM">Chemistry</a>
            <a href="#BIO">Biology</a>
            <a href="#PHARM">Pharmacy</a>
            <a href="#BIOMECH">Biomechanics</a>
            <a href="#GEN">Genetics</a>
        </div>
    </div>
</nav>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
<main>
    {{ content }}
</main>
</body>
</html>
